default introspect

label introspect
kernel deploy/deploy.vmlinuz
append initrd=deploy/deploy.initramfs ipa-inspection-callback-url=http://{{ ips.server }}:5050/v1/continue ipa-arobot-callback-url=http://{{ ips.server }}:9876/v1 systemd.journald.forward_to_console=yes

ipappend 3
